<div id="links-button" class="btn btn-primary" @onclick="OnLinksButtonClickAsync">L</div>
<div id="alert-button" class="btn btn-@(CurrentAlertState ? "danger" : "secondary")" @onclick="OnAlertButtonClickAsync">A</div>
@* <div id="previous-button" class="btn btn-secondary" @onclick="OnPreviousButtonClickAsync">P</div>
<div id="next-button" class="btn btn-secondary" @onclick="OnNextButtonClickAsync">N</div> *@