<div class="button-row">
    @foreach (var button in _buttons)
    {
        <div class="square-btn">
        <a href="@button.Url">
            <div class="icon-container"><img src="icons/@(button.Image)" /></div>
            <div class="title-container"><span style="color: @(button.Color)">@(button.Title[0])</span>@(button.Title.AsSpan()[1..].ToString())</div>
        </a>
        </div>
    }
</div>