    <div class="sensor-container text-center">
        CO2
        <div>
            <span class="sensor-value" id="sensor-value">@_homeAssistant.Co2</span>
            <span class="measure">PPM</span>
        </div>
    </div>