@if (!string.IsNullOrWhiteSpace(_currentImageUrl))
{
    @if (_isVideo)
    {
        <div class="video-container">

            <video id="wallpaper-video" src="@_currentImageUrl" autoplay loop />
        </div>
    }
    else
    {
        <div class="image-container">
            <img id="wallpaper-image" src="@_currentImageUrl" />
        </div>
    }
}
