@font-face {
    font-family: "GeForce";
    src: local("GeForce");
}

body {
    font-family: 'GeForce';
    color: white;
    background-color: rgb(0,0,0) !important;
    --gpu-light-color: #00FF41;
    --gpu-color: #03c935;
    --cpu-color: #0067CE;
    --cpu-light-color: #04A2FF;
    --measure-color: #00A4A4;
    --measure-light-color: #00CECE;
    --bs-border-radius: 0px;
    --bs-secondary-bg: #222;
    --bs-body-line-height: 1.3;
    --text-size: 30px;
    --text-size-sm: 26px;
}

.video-container {
    height: 100%;
    max-height: 325px;
    width: auto;
    overflow: hidden;
}

.video-container video {
    width: auto;
    height: 325px;
}

.image-container {
    width: 100%;
    max-width: 480px;
    height: 325px;
    overflow: hidden;
}

.image-container img {
    width: 480px;
    height: auto;
}

.row {
    --bs-gutter-x: 0;
}

.sm {
    font-size: var(--text-size-sm);
}

.draggable {
    -webkit-app-region: drag;
}

.center {
    align-self: center;
}

.profiles-container {
    margin-top: 4px;
    width: 100%;
    background: transparent !important;
}

.profile-box {
    padding: 1px;
}

.profile-image {
    width: 45px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
}

.profile-offline {
    color: darkgrey;
    opacity: 75%;
}

.profile-online {
    color: lightblue;
}

.profile-title {
    font-size: 16px;
    overflow: hidden;
}

.profile-unknown {
    color: lightcoral;
}

.profile-playing {
    color: lightgreen;
}

.text-right {
    text-align: right;
}

.hw-header b {
    font-size: 34px;
    padding-right: 8px;
}

.hw-info-container {
    font-size: var(--text-size);
}

.hw-val {
    font-weight: bold;
}

.hw-val-sm {
    font-weight: bold;
    font-size: var(--text-size-sm);
}

.blue {
    color: var(--cpu-color);
}

.blue-light {
    color: var(--cpu-light-color);
}

.green {
    color: var(--gpu-color);
}

.green-light {
    color: var(--gpu-light-color);
}

.measure {
    color: var(--measure-color);
}

.measure-light {
    color: var(--measure-light-color);
}

.measure-sm {
    color: var(--measure-color);
    font-size: var(--text-size-sm);
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.progress-bar-vertical {
    width: 20px;
    display: flex;
    align-items: flex-end;
}

    .progress-bar-vertical .progress-bar {
        width: 100%;
        height: 0;
        transition: height 0.6s ease;
    }

.hw-header .progress {
    margin: 0px -10px;
}

.progress {
    --bs-progress-bar-bg: var(--measure-color);
}

.gpu-progress {
    --bs-progress-bar-bg: var(--gpu-color);
}

.cpu-progress {
    --bs-progress-bar-bg: var(--cpu-color);
}

.measure-progress {
    --bs-progress-bar-bg: var(--measure-color);
}

.measure-light-progress {
    --bs-progress-bar-bg: var(--measure-light-color);
}

.sensor-container {
    font-size: 20px;
}

.sensor-value {
    font-size: 21px;
    font-weight: bold;
}

[hide="true"] {
    display: none !important;
}

/* Loader */
.lds-dual-ring {
    display: inline-block;
    margin-top: 30%;
    margin-left: 40%;
    font-size: 22px;
}

    .lds-dual-ring:after {
        content: " ";
        width: 100px;
        height: 100px;
        display: block;
        border-radius: 50%;
        margin-top: 20px;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 2s linear infinite;
    }

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

td {
    padding: 6px 14px 0px 14px;
}

code {
    color: lightgray;
    font-size: 20px;
}

a:link code {
    color: var(--measure-color);
}

a:link {
    text-decoration: none;
}

.title {
    color: var(--measure-color);
}

.url {
    color: var(--measure-light-color);
}

.clickable {
    cursor: pointer;
}
